#contact
{
    background-image: url('../images/gradient.jpg');
}
#contact .textDsc { text-align: justify; }

#contact a img { transition: transform 350ms; }
#contact a img:hover { transform: scale(1.25); }
#contact .contact-detail {
    margin: 20px;
}

#contact #nameInputs input
{
    width: 45% !important;
    display: inline-block;
}

#contact #lName, #contact #fName
{
    width: 45%;
    padding: 1%;
    padding-left: 0%;
    border-radius: 10px;
}
#contact #lName { float: right; }

#contact button
{
    float: left;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}

#contact .contact-detail-one {
    height: 400px;
}

@media only screen and (max-width: 1000px)
{
    #contact
    {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #contact .contact-detail-one {
        height: 100%;
    }
}