@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
    color: var(--bs-white);
    font-family: Roboto, sans-serif;
}
::-webkit-scrollbar { display: none; }

section
{
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glass
{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#return-to-top
{
    right: 0;
    bottom: 0;
    margin: 1%;
    width: 60px;
    height: 60px;
    z-index: 999;
    display: flex;
    color: white;
    position: fixed;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #2e2e2ec4;
    background-image: url(../images/top-arrow.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
}