
#insights { color: black; height: 100%; padding-bottom: 40px;}
#insights .carousel { height: 100%; }
#insights .container { 
    padding-bottom: 80px; 
    padding-top: 20px;
}

#insights .post
{
    display: inline-block;
    max-width: 625px;
    padding: 20px;
    margin: 10px;
}

#insights .pAuth {  flex-direction: row; }

#insights .pFooter
{
    font-size: 0.5em;
}

#insights .pCategory
{
    float: right;
    color: white;
    padding-left: 3px;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    background-color: #20202050;
}

#insights .pCategory img {
    height: 16px;
    padding-bottom: 2px;
    padding-right: 3px;
}

#insights .postTitle { min-height: 48px; }
#insights .postImage img { width: 280px; height: 200px; float: right; margin-left: 10px; margin-top: 5px; object-fit: cover; }
#insights .postContent { text-align: justify; min-height: 360px; }
#insights .userImg { height: 30px; }
#insights .postUser { color: #2A3D5F; font-size: 0.5em !important; font-weight: bold; }

@media only screen and (max-width: 1600px)
{
    .carousel-control-next, .carousel-control-prev {
        top: auto;
    }
}

@media only screen and (max-width: 1400px)
{
    #insights { height: 100%; }
    #insights .post
    {
        max-width: 100%;
    }

    #insights .postContent { min-height: auto; }
    #insights .postTitle { min-height: auto; }
}

@media only screen and (max-width: 768px)
{
    #insights .container 
    { 
        padding-left: 60px;
        padding-right: 60px;
    }

    #insights .pCategory
    {
        padding-top: 3px;
    }

    #insights .post
    {
        padding-left: 0;
        padding-right: 0;
    }

    #insights .postTitle { text-align: justify; }
    #insights .postImage { text-align: center; }
    #insights .postImage img { float: none; margin-left: 0; margin-top: 0; }
}