
#insights { color: black; overflow: hidden; height: 100%; padding-bottom: 40px;}
#insights .carousel { height: 100%; }
#insights .container { 
    overflow: hidden; 
    padding-bottom: 80px; 
    padding-top: 20px;
}

#insights .post
{
    display: inline-block;
    max-width: 625px;
    padding: 20px;
    margin: 10px;
}

#insights .pAuth {  flex-direction: row; }

#insights .pFooter
{
    font-size: 0.5em;
}

#insights .pCategory
{
    float: right;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #20202050;
}

#insights .pText
{
    display: flex;
    font-size: 20px !important;
    text-align: justify;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
}
#insights .userImg { height: 30px; }
#insights .postUser { color: #2A3D5F; font-size: 0.5em !important;  }

@media only screen and (max-width: 1400px)
{
    #insights { height: 100%; }
    #insights .post
    {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px)
{
    #insights .container 
    { 
        padding-left: 60px;
        padding-right: 60px;
    }

    #insights .post
    {
        padding-left: 0;
        padding-right: 0;
    }
}