#welcome
{
    background-image: url('../images/welcome.png');
}

#welcome .welcome-text {
    max-width: 700px;
    text-align: justify;
}

@media only screen and (max-width: 767px)
{
    #welcome
    {
        overflow: hidden;
        background-size: cover;
        height: 100%;
        padding-top: 150px;
        padding-bottom: 100px;
    }

    #welcome .welcome-text h1 {
        text-align: center;
    }
}