#whoweare
{
    height: 100%;
}

#whoweare h1
{
    font-size: 5rem;
    color: #1e225a;
    font-weight: bold;
}

#whoweare h3
{
    color: #2A3D5F;
    font-weight: bold;
}

#whoweare h5
{
    color: #2a3e5f98;
    font-weight: lighter;
}

#whoweare .card-img-top
{
    width: 240px;
    height: 240px;
    background-size: cover;
    border: 5px solid white;
    transition: border-color 350ms;
    box-shadow: 0px 0vh 2.5vh 0.1vh #00000080;
}

#whoweare .members { height: 100vh; }
#whoweare .member-detail { margin-top: 30px; }
#whoweare .member { text-align: center; padding: 30px; }
#whoweare img { transition: transform 350ms; }
#whoweare img:hover { transform: scale(1.15); transition: transform 350ms; }

@media only screen and (max-width: 1200px)
{
    #whoweare .members { height: 100%; }
    #whoweare
    {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}